.homepage {
  background-image: url("https://images.squarespace-cdn.com/content/v1/6206e88545aa7d54b13314f7/1677192799358-Z1O239QG98IZKVHLUT7W/unsplash-image-vJsj-hgOEG0.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.homepage button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
}
