.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 60vh;
  background-color: #333;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.form-container label {
  font-size: 1em;
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.form-container button {
  align-self: center;
  background-color: #333;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #0056b3;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}
